/* common screen width checks
320px
480px
600px
768px
900px
1024px
1200px
*/
/*primary: {
  light: '#ffbe6d',
  main: '#FA8D3E',
  dark: '#c25e09',
  contrastText: '#000000',
},
secondary: {
  light: '#ffffff',
  main: '#ffffff',
  dark: '#ffffff',
  contrastText: '#000000',
},
background: {
  default: '#e9fae1',
  orange: '#fff3e0',
  yellow: '#fffae0',
  green: '#e9fae1',
  white: '#ffffff',
},
logo: {
  orange: '#f26924',
  yellow: '#faf07d',
  green: '#cdf57a',
},
button: {
  orange: '#fa8d3e',
  yellow: '#faeb3e',
  green: '#cefa3e',
},
icon: {
  green: '#b1eb3b',
},
text: {
  default: '#343434',
  textbox: '#818181',
  black: '#000000',
},
link: {
  default: '#f9a825',
  clicked: '',
},*/

.shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
}

.defPgContainer {
  width: 768px !important;
  margin: auto !important;
  margin-top: 96px !important;
  margin-bottom: 96px !important;
  background-color: #ffffff !important;
  padding: 24px 48px 40px 48px !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}
@media only screen and (max-width: 900px) {
  .defPgContainer {
    width: 600px !important;
  }
}
@media only screen and (max-width: 600px) {
  .defPgContainer {
    width: 100% !important;
  }
}
.smlPgContainer {
  width: 480px !important;
  margin: auto !important;
  margin-top: 96px !important;
  margin-bottom: 96px !important;
  background-color: #ffffff !important;
  padding: 24px 48px 40px 48px !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}
@media only screen and (max-width: 480px) {
  .smlPgContainer {
    width: 100% !important;
  }
}

.pageTitle {
  color: #343434 !important;
  margin-top: 0 !important;
  margin-bottom: 32px !important;
}
.warningText {
  color: #ff0000 !important;
  padding: 8px !important;
}
.cardPaper {
  background-color: #fff3e0 !important;
  border: 1px solid #f26924 !important;
}

.centerItems {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.centerVertical {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
}

.tagContainer {
  display: flex !important;
  flex-direction: row !important;
  margin: 8px !important;
  padding: 0 !important;
  flex-wrap: wrap !important;
}
.tagItem {
  background: #b1eb3b !important;
  float: left !important;
  border-radius: 20px !important;
  margin: 2px !important;
  padding: 0 4px 0 4px !important;
  width: 50px !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.list {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
  margin: 8px 0 8px 0 !important;
  padding: 0 !important;
  /*display: flex !important;
  flex-direction: column !important;*/
  width: 100% !important;
}
.listOdd {
  background-color: #ffffff !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.listEven {
  background-color: #fff3e0 !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.listSelected {
  background-color: #cefa3e !important;
  padding: 16px !important;
}

.pgNavBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}
.contentWrap {
  padding-bottom: 64px;    /* Footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;            /* Footer height */
}