.top-bar{
    position: relative;
}

.top-bar a{
    margin-left: 20px;
    border-right: 1cm;
}
table {
    margin: 10px 0px 0px 0px;
    border-spacing: 0;
    width: 100%;
}

th {
    background: #DCDCDC;
    padding: 5px 0px;
}

thead tr th:first-child  {
    border-radius: 6px 0px 0px 0px;
    min-width: 5px;
}

thead tr th:last-child  {
    border-radius: 0px 6px 0px 0px;
}

tr:nth-child(odd) {
    background: #F4F4F4;
}

tr:nth-child(even) {
    background: #FFFFFF;
}

td {
    padding: 10px 10px;
    text-align: center;
}
select{
    width: 30%;
    height: 3%;
}
option{
    width: 30%;
    height: 3%;
}