* {
    box-sizing: border-box;
}

.healerFrame{
    width: 50%;
    float:left;
    background-color: blueviolet;
}
.mapFrame{
    
    background-color: salmon;
    float:right;
    width: 50%;
    height: 100%;

}
.location{
    
}
.sortBar{

}
.healers{

}