* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

#header-container img {
    margin-left: 10px;
    margin-top: 10px;
}

input[type="text"] {
    width: 250px;
    height: 36px;
    border: 0.8px solid #8F8F8F;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

input[type="image"] {
    background: #FF813A;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

input[type="image"]:hover {
    background: #ffae80;
}

#header-container a {
    text-decoration: none;
    color: #444444;
    float: right;
    margin-right: 20px;
    font-size: 18px;
}

#header-container a:hover {
    color: lightblue;
}

select {
    background: #FF813A;
    width: 140px;
    height: 36px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 14px;
}

select:hover {
    background: #ffae80;
}

option {
    background: #fff;
    color: #000;
}

#header-container {
    min-width: 900px;
    width: 100%;
    border-bottom: 1px solid #444;
}

#header-container img {
    float: left;
}

#header-container form {
    float: left;
}

#header-container form input {
    float: left;
    margin-top: 30px;
    margin-left: 11px;
}

#header-container a {
    float: right;
    margin-top: 45px;
}

#filter-container {
    margin-top: 10px;
    margin-left: 150px;
}

#filter-distance {
    float: left;
}

#filter-sort {
    float: left;
    margin-left: 20px;
}

#clear {
    clear: both;
}

.container-result {
    margin-left: 150px;
    width: 500px;
    padding: 10px;
}

#result-img {
    float: left;
    border: 0.8px solid #8F8F8F;
    border-radius: 8px;
    margin-top: 8px;
}

#result-img img {
    width: 130px;
    height: 130px;
}

#result-name {
    font-size: 20px;
    /* background: red; */
    float: left;
    width: 40%;
    margin: 5px;
}

#result-service {
    font-size: 20px;
    float: right;
    margin-bottom: 6px;
    /* background: green; */
    text-align: right;
    margin: 5px;
}

#result-location {
    float: left;
    margin: 5px;
}

#result-distance {
    float: left;
    margin: 5px;
}

#result-rating {
    float: right;
    /* background: yellow; */
    width: 20%;
    text-align: right;
    margin: 5px;
}

#result-description {
    float: left;
    width: 65%;
    font-size: 14px;
    margin: 5px;
}