* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

img {
    margin-left: 10px;
    margin-top: 10px;
}

input[type="text"] {
    width: 250px;
    height: 36px;
    border: 0.8px solid #8F8F8F;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

input[type="image"] {
    background: #FF813A;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: #444444;
    float: right;
    margin-right: 15px;
    font-size: 18px;
}

a:hover {
    color: blue;
}

select {
    background: #FF813A;
    width: 140px;
    height: 36px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 14px;
}