* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 12px;
}

.client-page {
    background-color: red;
}

nav {
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 0px 5px;
    font-size: 14px;
    background-color: #EEEEEE;
    padding: 5px 15px;
    border-radius: 5px 5px 0px 0px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;  
}

button {
    border: 1px solid #9C9C9C;
    width: 64px;
    height: 20px;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 4px;
}

select {
    border-radius: 5px;
    background-color: #F9F9F9;
    width: 84px;
    height: 20px;
}

input[type="text"] {
    height: 16px;
}

#select-search-filter {
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    width: 80px;
}

#top-bar {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 80%;
}

#top-bar-search {
    float: left;
}

#top-bar-selection {
    float: right;
}

#btn-search {
    background-color: #0066C5;
    color: white;
    margin-left: 0px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 4px;
}

#btn-clear {
    background-color: #F9F9F9;
}

#btn-enable {
    background-color: #EAFFEA;
    color: #0A5603;
    border-color: #0A5603;
}

#btn-disable {
    background-color: #FFE0E0;
    color: #AA0000;
    border-color: #AA0000;
}

#btn-delete {
    background-color: #FFE0E0;
    color: #AA0000;
    border-color: #AA0000;
}

table {
    border-spacing: 0;
    width: 80%;
}

th {
    background: #DCDCDC;
    padding: 5px 70px;
    border: 1px solid black;
}

tr:nth-child(odd) {
    background: #F4F4F4;
}

tr:nth-child(even) {
    background: #FFFFFF;
}

td {
    padding: 5px 5px;
    text-align: center;
}